article {
    font-family: Arial, Helvetica, sans-serif;
}

.blank_column {
    width: 6px !important;
    background-color: #ffffe6;
}

.blank_row {
    height: 12px !important;
    background-color: #ffffe6;
}

body {
    background-color: #ffffe6;
}

.edit {
    background-color: white;
    background-image: url("images/pencil.png");
    width:20px;
    height: 20px;
    display: block;
}

.desc_chart {
    background-color: white;
    background-image: url("images/pencil.png");
    width:20px;
    height: 20px;
    text-align: center;
    display: block;
    font-family: 'Times New Roman', Times, serif;
}

footer {
    background-color: #59b300;
    position: fixed;
    bottom: 0;
    width: 99%;
    height: 4%;
    text-align: center;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}

.home {
    background-position: center;    
    background-size: cover;
    background-color: #59b300;
    background-image: url("images/home.png");
    border: none;
    width: 48px;
    height: 42px;
}

.home:hover {
    background-color: #ffffe6;
}

table {
    border-collapse: collapse;
    border-style: hidden;
    background-color: white;
}

td, th, tr {
    border: 1.3px solid;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}

nav {
    background-color: #ffffe6;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #59b300;
  }
  
nav li {
    float: left;
}
  
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #ffffe6;
}

.save {
    background-color: white;
    background-image: url("images/save.png");
    background-position: center;    
    background-size: cover;
    cursor: pointer;
    border-style: solid;
    border-color: blue;
    width: 26px;
    height: 26px;
}
