{% include "web/nav.html" with  desc="Upload new data set"  %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<meta charset="UTF-8">
<html>
    <head>
        <title>List of data sets</title>
    </head>

    <body>

        <h3>List of data sets</h3>

        <div class="description">
            <article>
                Bellow are data sets ready for data processing.
            </article>
        </div>
        <br />

        <table class="table">
            <thead>
                <tr class="blank_row">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class="blank_column"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Origianl source URL</th>
                    <th class="blank_column"></th>
                </tr>
            </thead>
            <tbody>
                {% for record in data %}
                <tr>
                    <td class="blank_column"></td>
                    <td><a href="{% url 'sampledata' pk=record.id %}">{{ record.title }}</a></td>
                    <td>{{ record.description }}</td>
                    <td><a href="{{ record.original_source_url }}">{{ record.original_source_url }}</a></td>
                    <td>
                        <button class="edit" onclick="location.href='{% url 'datasetdescriptionupdate' pk=record.id %}'"></button>
                    </td>
                    <td>
                        <form action="{% url 'datasetdelete' pk=record.id %}" method="post">
                            {% csrf_token %}
                        <input type="submit" value="submit">
                        </form>
                    </td>
                    <td class="blank_column"></td>
                </tr>
                {% endfor %}
                <tr class="blank_row">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>    
    </body>
    {% include "web/footer.html" %}
</html>
