{% include "web/nav.html" %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<meta charset="UTF-8">

<html>
    <head>
        <title> Upload new file </title>
    </head>

    <body>
        <h3>Upload file</h3>

        <article>
            <p>Currently support only CSV files.</p>
        </article>

        <div class="form">
            <form action="{% url 'uploaddataset' %}" enctype="multipart/form-data" method="post" >
                {% csrf_token %}
                <table class="upload_form">
                    {{ form }}
                    <tr>
                        <td>
                            <br />
                            <input class="submit_upload" type="submit" value="Upload">
                        </td>
                        <td></td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
    {% include "web/footer.html" %}
</html>
