{% include "web/nav.html" %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<meta charset="UTF-8">

<html>
    <head>
        <title> Update of name of a graph </title>
    </head>

    <body>      

        <div class="description">
            <form action="{% url 'descriptionname' pk=object.id %}" method="post" >
                {% csrf_token %}
                <table class="description">
                {{ form }}
                    <tr>
                        <td>
                            <input type="submit" value="Save">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
    {% include "web/footer.html" %}
</html>
