<form action="/your-name/" method="get">
    <label for="your_name">Your name: </label>
    <label for="last_name">Last name: </label>
    <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
    <input id="last_name" type="text" name="last_name" value="{{ some_name }}">
    <input type="submit" value="OK">
</form>
