{% include "web/nav.html" %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<meta charset="UTF-8">
<html>
    <head>
        <title> Update of article of graph </title>
    </head>

    <body>

        <h3> Edit description/title</h3>

        <p>
            Editor support following HTML tags for text formatting.
        </p>

        <ul>
            <li>p</li>
            <li>b</li>
            <li>i</li>
            <li>h[1-6]</li>
            <li>em</li>
            <li>small</li>
            <li>strong</li>
        </ul>

        <div class="form">
            <form action="{% url 'graphdescriptionupdate' pk=graph_id %}" method="post" >
                {% csrf_token %}
                <table>{{ form }}</table>
                <input class="save" type="submit" value=""> 
            </form>
        </div>
    </body>
    {% include "web/footer.html" %}
</html>
