<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<meta charset="UTF-8">

<html>
    <div class="nav">
{% include "web/nav.html" %}
    </div>
    <head>
        <title> Create new chart </title>
    </head>

 
    <body>
        <h3>Data function configurator</h3>

        <article>
            <p>
            Choose one of the filter/trnasformer that will be applied to the data. 
            Only one function can be used at time.
            </p>
        </article>
            
        {% for item in form.items %}
        <form action="{% url 'graph' %}" method="post">
            {% csrf_token %}
        <table class="data_fce_configurator">
            {% for value in item %}
            {{ value }}
            {% endfor %}
        </table>
        <br />
        <input type="submit" value="Submit">
        </form>
        <hr />
        <br />
        {% endfor %}
    </body>
    {% include "web/footer.html" %}
</html>