{% include "web/nav.html" %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<meta charset="UTF-8">
<html>
    <head>
        <title>Easy charting</title>
    </head>

    <body>
        <h3>Frequently used data filter function with predefined chart representation</h3>

        <article>
            <p>
                The aim of this application is to provide Frequently used function for filtering or transforming data from CSV data files.
            </p>
            <p>
                Application leverage server-side processing which is useful for larger data sets as those might not be easy to process or open on desktop computer PC. Although
                the application might run completely on personal computer and one might leverage the power minimalism that application provide and what makes application fast
                and responsive.
            </p>
            <p>
                One can use pre-uploaded <a href="{% url 'datasets' %}">data sets</a> or <a href="{% url 'uploaddataset' %}">upload</a> new data. You might be also interested
                in <a href="{% url 'listofgraphs' %}">already crafted charts</a>. Those might be downloaded as PDF.
            </p>
        </article>
     {% load static %}
    </body>
    {% include "web/footer.html" %}
</html>
