{% include "web/nav.html" %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<meta charset="UTF-8">
<html>
    <head>
        <title>List of graphs</title>
    </head>

    <body>
        <h3>List of charts</h3>

        <div class="description">
            <article>
                Here you find already crafted charts.
            </article>
        </div>

        <br />

        <table class="table">
            <thead>
                <tr class="blank_row">
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class="blank_row"></th>
                    <th>Chart name</th>
                    <th class="blank_row"></th>
                </tr>
            </thead>
            <tbody>
                {% for record in graphs_list %}
                <tr>
                    <td class="blank_column"></td>
                    <td>
                        <a href="{% url 'viewgraph' pk=record.pk %}">{{ record.description.title }}</a>
                    </td>
                    <td>
                        <button class="edit" onclick="location.href='{% url 'graphdescriptionupdate' pk=record.description.pk %}'"></button>
                    </td>
                    <td>
                        <form action="{% url 'viewgraph' pk=record.description.pk %}" method="post">
                            {% csrf_token %}
                        <input type="submit" value="submit">
                        </form>
                    </td>
                    <td class="blank_column"></td>
                </tr>
                {% endfor %}
                <tr class="blank_row">
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </body>
    {% include "web/footer.html" %}
</html>
