{% block header %}
{% load static %}
<head><link rel="stylesheet" href="{% static 'web/01.css' %}"></head>
<header>
    <nav>
        <ul class="nav">
            <li><a href='{% url 'index' %}'">Home</a></li>
            <li>{% block header-list %}<a href=/web/listofgraphs/>Graphs</a>{% endblock %}</li>
            <li>{% block header-graph %}<a href=/web/listofdatasets/>Data sets</a>{% endblock %}</li>
            <li><a href="{% url 'uploaddataset' %}">{{ desc }}</a></li>
        </ul>
    </nav>
</header>
{% endblock %}
