{% include "web/nav.html" %}
{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<meta charset="UTF-8">
<html>
    <head>
        <title>Sample data of {{ metadata.title }}</title>
    </head>

    <body> 
        <h3> Sample Data of "{{ metadata.title }}" data set</h3>

        <div class="description">
            <p>
                {{ metadata.description }}
            </p>
        </div>

        <a href="{% url 'datasetdescriptionupdate' metadata.id %}"><img src="{% static 'web/images/pencil.png' %}" /></a>

        <br />
        
        <table class="table">
            <caption>
            Data Source {{ data_source_id }}
            </caption>

            <thead>
                <tr class="blank_row">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class="blank_column"></th>
                    <th>CSV column name</th>
                    <th scope="col"> CSV column values</th>
                    <th class="balnk_column"></th>
                </tr>
            </thead>
            <tbody>
                {% for column_name in sample_data.0 %}
                <tr>
                    <td class="blank_column"></td>
                    <td><a href={% url 'createnewchart' data_source_id column_name %}>{{ column_name }}</a></td>
                    <td>
                    {% for val in sample_data %}
                        {% for k, v in val.items %}
                         {% if k == column_name %}
                        {{ v }},
                        {% endif %}
                        {% endfor %}
                    {% endfor %}
                    </td>   
                    <td class="blank_column"></td>
                </tr>
                {% endfor %}
                <tr class="blank_row">
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </body>
    {% include "web/footer.html" %}
</html>
