{% include "web/nav.html" %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<meta charset="UTF-8">
<html>
    <head>
        <title> Graph </title>
    </head>

    <body>
        <h3>User chart</h3>

        <div>
        {% autoescape off %}
            {{ graph }}
        {% endautoescape %}
        </div>

        <br />

        <h4>Description</h4>
        <div>
        {% autoescape off %}
            {{ description }}
        {% endautoescape %}
        </div>
        <br />
        <button class="desc_chart" onclick=location.href="{% url 'graphdescriptionupdate' pk=graph_id %}"></button>
        <br />
    </body>
    <br />
    {% include "web/footer.html" %}
</html>